<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50580/Service1.xamlx" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="GetTip.IService"
                name="BasicHttpBinding_IService" />
            <endpoint address="http://neptune.fulton.ad.asu.edu/WSRepository/Services/EncryptionWcf/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="Crypto.IService" name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>